{% extends "header_footer.html" %}
{% load static %}
{% block content %}

<h3 class="text-22 text-midnight text-bold mb-4">Appointment Form</h3>
                                    <form method = "post" action = "/appointment_form/">
                                        {% csrf_token %}
                                        <div class="form-group">
                                             <div class="input-label">
                                                <label for="exampleFormControlSelect1">Donor ID</label>
                                             </div>
                                            <select name="d_id" class="form-control" id="exampleFormControlSelect1">
                                            {% for data in temp %}
                                            <option value="{{data.d_id}}">{{data.first_name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Given Date</label>
                                            </div>
                                            <input type="date" class="form-control" value="" name="given_date">
                                        </div>
                                        <div class="form-group">
                                             <div class="input-label">
                                                <label for="exampleFormControlSelect1">Bloodbank</label>
                                             </div>
                                            <select name="b_id" class="form-control" id="exampleFormControlSelect1">
                                            {% for data in flag %}
                                            <option value="{{data.b_id}}">{{data.b_name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>

                                         <div class="form-group">
                                            <div class="input-label">
                                                <label>Appointment Status</label>
                                            </div>
                                            <input type="text" class="form-control" value="" name="appointment_status">
                                        </div>
                                         <div class="form-group">
                                            <div class="input-label">
                                                <label>Appointment Time</label>
                                            </div>
                                            <input type="datetime-local" class="form-control" value="" name="appointment_time">
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="submit-btn">SUBMIT FORM</button>
                                        </div>
                                    </form>

{% endblock %}