{% extends "header_footer.html" %}
{% load static %}
{% block content %}

<h3 class="text-22 text-midnight text-bold mb-4">Blood-Stock Form</h3>
<form method="post" action="/bloodstock_form/">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-label">
            <label for="exampleFormControlSelect1">Bloodbank</label>
        </div>
        <select name="b_id" class="form-control" id="exampleFormControlSelect1">
           {% for data in flag %}
                <option value="{{data.b_id}}">{{data.b_name}}</option>
            {% endfor %}
        </select>
    </div>
<!--    <div class="form-group">-->
<!--        <div class="input-label">-->
<!--            <label>Bloodbank Id</label>-->
<!--            <select >-->
<!--               -->
<!--            </select>-->
<!--        </div>-->
<!--        <input type="text" class="form-control" value="" name="b_id">-->
<!--    </div>-->
    <div class="form-group">
        <div class="input-label">
            <label for="exampleFormControlSelect1">BloodGroup-type</label>
        </div>
        <select name="bloodgrp_id" class="form-control" id="exampleFormControlSelect1">
           {% for data in temp %}
                <option value="{{data.bloodgrp_id}}">{{data.bloodgrp_type}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <div class="input-label">
            <label>Blood Stock</label>
        </div>
        <input type="text" class="form-control" value="" name="b_stock">
    </div>
     <div class="form-group">
            <button type="submit" class="submit-btn">SUBMIT FORM</button>
     </div>


</form>

{% endblock %}