{% extends "header_footer.html" %}
{% load static %}
{% block content %}

<h3 class="text-22 text-midnight text-bold mb-4">Form Inputs</h3>
                                    <form>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Name</label>
                                            </div>
                                            <input type="text" class="form-control" value="Dashy" name="name">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Email</label>
                                            </div>
                                            <input type="email" class="form-control" value="dashy@gmail.com" name="email">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Password</label>
                                            </div>
                                            <input type="password" class="form-control" value="Password" name="password">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label for="exampleFormControlSelect1">Select</label>
                                            </div>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label for="exampleFormControlSelect2"> Multiple Select</label>
                                            </div>
                                            <select multiple class="form-control" id="exampleFormControlSelect2">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Textarea</label>
                                            </div>
                                            <textarea class="form-control" id="textarea" rows="5"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Placeholder Input</label>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Placeholder Input Text" name="name">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Readonly Input</label>
                                            </div>
                                            <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>Disabled Input</label>
                                            </div>
                                            <input class="form-control" type="text" placeholder="Disabled input here…" disabled>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-label">
                                                <label>File Input</label>
                                            </div>
                                            <input type="file" class="form-control-file form-control pt-2" id="exampleFormControlFile1">
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="check3">
                                                <label class="form-check-label" for="check3">Default Checkbox</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="check4" checked>
                                                <label class="form-check-label" for="check4">Checked Checkbox</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="check5" disabled>
                                                <label class="form-check-label" for="check5">Disabled Checkbox</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label" for="exampleRadios1">Checked Radio</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
                                                <label class="form-check-label" for="exampleRadios2">Default Radio</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option1" disabled>
                                                <label class="form-check-label" for="exampleRadios3">Disabled Radio</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="submit-btn">SUBMIT FORM</button>
                                        </div>
                                    </form>

{% endblock %}