{% extends "admin_header.html" %}
{% load static %}
{% block content %}
<div class="breadcrumbs-wrap">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-12">
                <div class="breadcrumbs-area">
                    <h1>EVENTS</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card component-table">
        <div class="card-body">
            <h3 class="text-body text-center text-md-left text-22 text-bold mb-4">Event Table</h3>
            <div class="table-responsive">
                <table id="Area-Table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Event Id</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Bloodbank Id</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Location</th>
                        <th>Hospital Id</th>
                        <th>Area Id</th>
                    </tr>
                    </thead>
                     event_id = models.AutoField(primary_key=True)
    e_name = models.CharField(max_length=100)
    e_date = models.DateField()
    b_id = models.ForeignKey(Bloodbank, on_delete=models.CASCADE)
    e_des = models.CharField(max_length=500)
    e_img = models.ImageField()
    e_location = models.CharField(max_length=200)
    h_id = models.ForeignKey(Hospitals, on_delete=models.CASCADE)
    area_id = models.ForeignKey(Area, on_delete=models.CASCADE)
                    <tbody>
                    {% for data in bbanks %}
                    <tr>
                        <td>{{ data.event_id}}</td>
                        <td>{{ data.e_name }}</td>
                        <td>{{ data.e_date}}</td>
                        <td>{{ data.b_id }}</td>
                        <td>{{ data.e_des}}</td>
                        <td>{{ data.e_img}}</td>
                        <td>{{ data.e_location}}</td>
                        <td>{{ data.h_id}}</td>
                        <td>{{data.area_id}}</td>
                    </tr>
                    {% endfor %}
                     <tr>
                        <td>1121</td>
                        <td>Raipur</td>
                        <td>380001</td>

                     </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}