{% extends "admin_header.html" %}
{% load static %}
{% block content %}
<div class="breadcrumbs-wrap">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-12">
                <div class="breadcrumbs-area">
                    <h1>HOSPITAL</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card component-table">
        <div class="card-body">
            <h3 class="text-body text-center text-md-left text-22 text-bold mb-4">Hospital Table</h3>
            <div class="table-responsive">
                <table id="Area-Table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Hospital Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Contact</th>
                        <th>Area Id</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in hospitals %}
                    <tr>
                        <td>{{ data.h_id}}</td>
                        <td>{{ data.h_name }}</td>
                        <td>{{ data.h_address}}</td>
                        <td>{{ data.h_email }}</td>
                        <td>{{ data.h_pwd}}</td>
                        <td>{{ data.h_contact}}</td>
                        <td>{{ data.area_id}}</td>
                    </tr>
                    {% endfor %}
                     <tr>
                        <td>1121</td>
                        <td>Raipur</td>
                        <td>380001</td>

                     </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}