{% extends "admin_header.html" %}
{% load static %}
{% block content %}
<div class="breadcrumbs-wrap">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-12">
                <div class="breadcrumbs-area">
                    <h1>Van</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card component-table">
        <div class="card-body">
            <h3 class="text-body text-center text-md-left text-22 text-bold mb-4"></h3>
            <div class="table-responsive">
                <table id="Area-Table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Van Id</th>
                        <th>Van Number</th>
                        <th>Date-Time</th>
                        <th>Address</th>
                        <th>Description</th>
                        <th>Area Id</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in bbanks %}
                    <tr>
                        <td>{{ data.van_id}}</td>
                        <td>{{ data.van_num }}</td>
                        <td>{{ data.v_datetime}}</td>
                        <td>{{ data.v_add }}</td>
                        <td>{{ data.description}}</td>
                        <td>{{ data.area_id}}</td>
                    </tr>
                    {% endfor %}
                     <tr>
                        <td>1121</td>
                        <td>Raipur</td>
                        <td>380001</td>

                     </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}